<ul id="lists">
  <% sorted_lists(@lists).each do |list| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= @lists.index(list) %>">
        <h2><%= list[:name] %></h2>
        <p><%= completed_todos(list) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>